IESG: ART AD: 

_From Oriel Steele's [IESG ART AD review](https://mailarchive.ietf.org/arch/msg/httpapi/LWt8eSDh8E8tKFuwUrBFLVLyVco/):_

### Which URL?

```
259        *  A linkset in JSON Document format (section 4.2 of [RFC9264]) of
260           API endpoints and information to facilitate API usage.  The
261           linkset SHOULD include a profile parameter (section 5 of
262           [RFC9264]) with a Profile URI [RFC7284] value of 'THIS-RFC-URL' to
263           indicate the linkset is representing an API Catalog document as
264           defined above.  Appendix A includes example API Catalog documents
265           based on the linkset format.
```

```
550        RFC Editor's Note: IANA is kindly requested to replace all instances
551        of THIS-RFC and THIS-RFC-URL with the actual RFC number/URL once
552        assigned.
```

_Maybe its obvious but I assume this is not a link to the datatracker?_

@richsalz is this something for the RFC editor to answer, or is there anything I should do here...?

There is nothing for you to do, IANA will fix things up in their normal course of editing. I am surprised Ori raised the topic.

Thanks! I'll close this.