Pointer to wrong section of Web Linking RFC

Document refers to the non-existent section 4.2.2 of RFC 8288 for procedures for registering link relation types, instead it  should be [section 2.1.1.1](https://datatracker.ietf.org/doc/html/rfc8288#section-2.1.1.1)