Wrong ref

 _from  [AD review](https://mailarchive.ietf.org/arch/msg/httpapi/jNd6HfIC8MLhpD-0bE4S12rmDgs/)_

Section 8.2:

> This specification registers the "api-catalog" link relation by following the procedures per section 4.2.2 of [RFC8288]

I think you mean section 2.1.1.1.

Fixed in b738f3de9dbfa8f6451a03601a093ce0de6858b2